<div class="container">
  <h1>Chi tiết Todo</h1>
  @if (loading$ | async) {
    <p>Đang tải...</p>
  }
  @if (error$ | async; as error) {
    <p>Lỗi: {{ error }}</p>
  }
  @if (editableTodo) {
    <div class="form-group">
      <label>
        Tiêu đề:
        <input type="text" [(ngModel)]="editableTodo.title" />
      </label>
      <label>
        Nội dung:
        <input type="text" [(ngModel)]="editableTodo.body" />
      </label>
      <label> <input type="checkbox" [(ngModel)]="editableTodo.completed" /> Hoàn thành </label>
      <button (click)="onSaveTodo()">Cập nhật</button>
    </div>
  }
  <a [routerLink]="['/todos']">Quay lại</a>
</div>
